.container{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.884);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}
.container img{
    width: 10vw;
}
.search{
    max-width: 400px;
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    padding-left: 20px;
    border: 1px solid rgb(0, 183, 255);
    transition: 400ms ease-out;
}
.container:hover .search{
    outline: none;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px blue;
}   
.search-container input:focus{
    outline: none;
}
.search-container{
    display: flex;
    justify-content: spca;
    align-items: center;
}
.search-container img{
    width: 30px;
    padding: 5px;
    border: 1px solid grey;
    margin-left: 5px;
    border-radius: 50%;
    transition: 300ms ease;
}
.search-container img:hover{
    background-color: rgb(28, 151, 199);
}
.options{
    width: 7vw;
    display: flex;
    justify-content: flex-end;
}
.content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-credentials{
    position: fixed;
    top: 0px;
    visibility: collapse;
    transition: 500ms ease;
    scale: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    opacity: 0;
}
.user-credentials#visible{
    visibility: visible;
    scale: 1;
    opacity: 1;
}
.settings-icon{
    transition: 500ms ease;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px blue;
    z-index: 2;
}
.settings-icon#visible{
    transform: rotate(100deg);
}
#login-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(138, 138, 138, 0.836);
    top: 0px;
}